.services-content {
    background-color: rgb(255, 255, 255);
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    position: relative;
    height: 100%;
    color: #111;
    font-family: 'JetBrains Mono', monospace;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
    grid-gap: 2em;
    justify-items: center;
}

* {
    margin: 0;
    padding: 0;
}

.landing {
    background: url(imgs/abstract.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    /* text-align: center; */
    position: relative;
    width: 100%;
}

.landing-info {
    position: absolute;
    top: 40%;
    /* display: block; */
    left: 6em;
    color: #eeeeee;
    width: 40%;
    font-family: 'JetBrains Mono', monospace;
}

.landing-info h1 {
    font-size: 42px;
    margin-bottom: 10px;
    mix-blend-mode: hard-light;
    font-family: inherit;
}

.landing-info h2 {
    font-size: 1em;
    color: rgb(40, 152, 156);
    mix-blend-mode: difference;
    font-family: inherit;

}

.btn {
    padding: 15px;
    display: inline-block;
    margin-top: 2em;
    color: #241E4E;
    cursor: pointer;
    min-width: 100px;
    font-family: inherit;
    border-radius: 5px;
    border: none;
    transition: all 0.4s ease-in-out;
    background: linear-gradient(to right, #db9436, #f7ff00);
}

.btn:hover {
    background: linear-gradient(30deg, #f7ff00, #db9436);
}

.container {
    padding: 0 4em;
}

.pv-4 {
    padding: 4em 0;
}

.pv-2 {
    padding: 2em 0;
}

.ph-4 {
    padding: 0 4em;
}

.ph-2 {
    padding: 0 2em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-4 {
    margin-top: 4em;
}

.mb-2 {
    margin-bottom: 2em;
}

.mr-2 {
    margin-right: 2em;
}

.ml-2 {
    margin-left: 2em;
}

.center {

    display: block;
    text-align: center;
    margin: auto;

}

.btm-center {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.more {
    max-width: 200px
}

.about-us {
    min-height: 100vh;
    background-color: #241E4E;
    width: 100%;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us img {
    width: 50%;
}

.about-us p {
    width: 40%;
    margin: 2em;
    line-height: 28px;
    margin-left: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 500;
}

.about-us h1 {
    width: 30%;
    margin-left: auto;
}

.about-us a {
    display: block;
    width: 175px;
}

.intro {
    color: rgb(246, 246, 246);
}

.service {
    width: 75%;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
    height: 100%;
    position: relative;
    transition: transform 0.8s ease-out;
}

.card img {
    width: 8em;
    height: 8em;
}

.card p {
    margin-top: 10px;
    font-size: 16px;
    color: inherit;
    font-family: sans-serif;
}

.full-page {
    min-height: 100vh;
}




.service-header {
    font-size: 28px;
    /* text-transform: uppercase; */
    color: inherit;
    padding: 10px;
    width: 100%;
    text-align: left;
    padding-left: 3em;
    font-family: 'open Sans', sans-serif;
}

.text-underline {
    text-decoration: underline rgb(241, 191, 64) 4px;

}

@media screen and (max-width:600px) {
    .service {
        width: 100%;
        margin: 0.5em 0;
    }

    .service-content {
        padding: 0;
    }

    .back p {
        height: 10em;
    }

    .landing-info h1 {
        font-size: 28px;
    }

    .landing-info {
        width: 70%;
        left: 3em;
    }

    .landing-info h2 {
        font-size: 16px;
    }

    .service-header {
        padding-left: 0.5em;
    }
}


/* About us */

.about-container {
    margin-top: 4em;
    width: 100%;
    padding-bottom: 1em;
    height: 100%;
    background-color: rgba(236, 236, 236, 0.827);
    /* padding: 1em 8em; */
}

.about-container h1 {
    text-align: left;
    width: 100%;
    padding-left: 4.5em;
    color: rgb(97, 97, 95);
    font-size: 22px;
}

.about-container h2 {
    font-size: 1.5em;
    text-align: left;
    padding-left: 6em;
    /* width: 100%; */
    color: #111;
}

.about-container .about {
    font-family: 'open Sans', Helvetica, sans-serif;
    font-size: 18px;
    margin: 1em 8em;
    color: rgb(0, 0, 0);
    line-height: 2em;
    text-align: left;
}

@media screen and (max-width:600px) {
    .about-container .about {
        margin: 1em 1em;
        color: #111;
    }

    .about-container h1 {
        padding-left: 1em;
    }

    .about-container h2 {
        padding-left: 1em;
    }
}