        html {
            margin: 0;
            padding: 0;
            scroll-behavior: smooth;
        }

        h1 {
            font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Georgia, Times, serif;
        }

        p {
            font-family: poppins, sans-serif;
            font-size: 14px;
            line-height: 25px;
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            color: #EFD6AC;
            background: url(imgs/hazmat2.jpg);
            background-size: cover;
            background-position: center;
            background-color: #ffffff;
        }

        body>div {
            -webkit-overflow-scrolling: touch;
        }

        .main-container {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
        }

        ul {
            list-style-type: none;
        }

        a {
            cursor: pointer;
            color: inherit;
            text-decoration: none;
        }

        .navbar {
            z-index: 1000;
            display: flex;
            top: 0;
            position:absolute;
            height: 4em;
            flex-wrap: wrap;
            background: transparent;
            padding: 15px 3em;
            justify-content: space-between;
            width: 100%;
            align-items: right;
            color: #fff;
            border: none;
            transition:all 0.3s ease-in-out;
        }

        .stickytop{
            position:fixed;
            background-color:#ffffff;
            padding:5px 3em;
            color:#111;
        }
        #logo {
            outline: none;
            margin-right: auto;
            padding-left: 0;
            width: 10em;
        }

        .left-nav-items {
            display: flex;
            background-blend-mode: darken;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .left-nav-items li {
            /* font-family: Lato, Helvetica, Times, serif; */
            font-family: 'JetBrains Mono', monospace;
            font-size: 0.8em;
            text-align: center;
            color: inherit;
            font-weight: 700;
            line-height: 25px;
            outline: none;
            padding: 1px 1em;
        }

        .left-nav-items li a:hover {
            transition: 0.2s ease-in;
            color: #e9e20e;
        }

        .right-nav {
            position: relative;
            border: none;
            padding-left: 0.5em;
            cursor: pointer;
            display: none;
            width: 4em;
        }

        .right-nav img {
            top: 0;
            background-size: cover;
            border-radius: 50%;
            bottom: 0;
            left: 1;
            position: absolute;
            padding: 0.1em;
            box-shadow: -2px -2px 2px 0 rgba(3, 3, 3, 0.467), 3px 3px 4px 0 rgba(10, 10, 10, 0.467);
            width: 80%;
            transition: 0.4s ease-in-out;
        }

        /* radiation hamburger animation  */

        #menu-icon.close {
            transform: rotateZ(45deg);
        }

        .fa-facebook {
            border-radius: 50%;
            background-color: #0b487c;
            margin: 1em;
            text-align: center;
            padding: 1.5em;
            color: #fff;
        }

        .fa-twitter {
            border-radius: 50%;
            background-color: rgb(56, 181, 219);
            padding: 1.5em;
            color: #fff;
            margin: 1em;
        }

        .fa-google {
            border-radius: 50%;
            background-color: rgb(240, 40, 40);
            padding: 1.5em;
            color: rgb(255, 255, 255);
            margin: 1em;
        }

        .fa-phone {
            border-radius: 50%;
            color: rgb(255, 255, 255);
            background-color: blue;
            padding: 1.5em;
            z-index: 1;
            margin: 1em;
        }

        /*footer styling*/

        .footer {
            position: relative;
            display: flex;
            padding: 10px;
            background-color: rgb(245, 167, 0);
            backdrop-filter: blur(20px);
            width: 100%;
            transition: 1s ease-in;
        }

        .footer .fa:hover {
            transition: 0.4s;
            transform: scale(1.1);
        }

        .foo-contacts {
            margin-left: auto;
            pointer-events: all;
            /* width: 40%; */
            display: block;
            margin-right: 1em;
            color: #111;
            font-weight: 700;
        }

        .tcs {
            width: 100%;
            font-weight: 800;
            margin: auto;
            color: #111;
            font-size: 12px;
            background-color: rgb(219, 154, 13);
            bottom: 0;
            text-align: center;
        }

        /*loading screen*/

        .loading {
            width: 100%;
            height: 100vh;
            padding: 0;
            margin: 0;
            background: #000;
        }

        .loading .glow {
            position: relative;
            padding: 0;
            width: 10em;
            height: 10em;
            margin: auto;
            top: 30%;
            animation: glow 0.8s ease-in infinite alternate;
        }

        .loading .glow #glow-img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: -0.5;
            right: -0.1;
            height: 100%;
        }

        @keyframes glow {
            0% {
                background-color: rgba(251, 179, 12, 0.1);
                transform: rotateZ(10deg);
            }

            10% {
                background-color: rgba(251, 179, 12, 0.1);
            }

            20% {
                background-color: rgba(251, 179, 12, 0.2);
            }

            30% {
                background-color: rgba(251, 179, 12, 0.3);
            }

            40% {
                background-color: rgba(251, 179, 12, 0.4);
            }

            50% {
                background-color: rgba(251, 179, 12, 0.5);
            }

            60% {
                background-color: rgba(251, 179, 12, 0.6);
            }

            70% {
                background-color: rgba(251, 179, 12, 0.7);
            }

            80% {
                background-color: rgba(251, 179, 12, 0.8);
            }

            90% {
                background-color: rgba(251, 179, 12, 0.9);
            }

            100% {
                background-color: rgba(251, 179, 12, 1);
            }
        }

        .fade {
            filter: blur(8px);
            background: #000;
        }

        /*end of loading screen css*/
        /*small screens*/

        @media screen and (max-width: 600px) {
            .toggler {
                position: absolute;
                right: 0;
                top: 4em;
                width: 0;
                margin: 0;
                backdrop-filter: blur(10px);
                background-color: #000;
                height: 100vh;
                overflow: hidden;
                align-content: flex-start;
            }

            .toggler li {
                margin: 1em 0;
                z-index: 1000;
                color: snow;
                width: 100%;
            }

            .hide {
                width: 40%;
                transition: 0.5s;
            }

            .right-nav {
                display: block;
            }

            .contact-card {
                width: 100%;
            }

            .foo-contacts {
                text-align: end;
            }

            #social a {
                display: inline-block;
                width: 5px;
            }

            .fa {
                width: 10px;
                height: 10px;
            }

            #logo {
                width: 8em;
            }
        }